[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.37.24"
apache-airflow = "==2.10.5"
setuptools = "*"
python-dotenv = "==1.1.0"

[dev-packages]

[requires]
python_version = "3.12"
