[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.32.3"
python-dotenv = "==1.0.1"
apache-airflow = "==2.10.5"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
